{{#if this.showBanner}}
  <aside class="newsletter-subscription-banner">
    <div class="banner-text">
      {{#if this.subscribed}}
        <h3>{{i18n "discourse_newsletter_integration.banner.thank_you"}}
          {{emoji "tada"}}</h3>
        <p class="banner-description">
          {{html-safe
            (i18n
              "discourse_newsletter_integration.banner.added_to_newsletter"
              preferencesUrl=(get-url "/my/preferences/emails")
            )
          }}
        </p>
      {{else}}
        <h2>{{i18n "discourse_newsletter_integration.banner.heading"}}
          {{emoji "love_letter"}}</h2>
        <p class="banner-description">
          {{i18n "discourse_newsletter_integration.banner.description"}}
        </p>
      {{/if}}
    </div>
    <div class="banner-controls">
      <DButton @icon="times" @action={{action "dismiss"}} class="close-btn" />
      {{#unless this.subscribed}}
        <DButton
          @label="discourse_newsletter_integration.banner.subscribe"
          @action={{action "subscribe"}}
          @disabled={{this.disableControls}}
          class="btn-primary subscribe-btn"
        />
      {{/unless}}
    </div>
  </aside>
{{/if}}